.card {
	border-color: #660066;
}

.card-header {
	background-color: #ffccff;
}

.card-header h5 {
	color: #007bff;
	font-size: 32px;
	font-weight: bold;
}

.card-header img {
	max-height: 48px !important;
}

.card-body {
	color: black;
	text-align: left;
}

.card button {
	text-align: left;
	padding: 0px !important;
	border: 0px !important;
	font-size: 32px;
	white-space: normal;
}

.card button:hover .card-header h5 {
	color: #0056b3;
}

.card li {
	font-size: 24px !important;
}

.card h2 {
	color: black;
}

.card img {
	max-height: 200px;
	max-width: 240px;
}