.card {
	border-color: #660066;
}

.card-header {
	background-color: #ffccff;
}

.card-body {
	background-color: white;
	color: black;
	text-align: left;
}

.card button {
	text-align: left;
	padding: 0px !important;
	border: 0px !important;
	font-size: 32px;
	white-space: normal;
}

.card img {
	max-height: 200px;
	max-width: 200px;
}