.card {
	border-color: #660066;
}

.card-header {
	background-color: #ffccff;
}

.card-header h5 {
	color: #007bff;
	font-size: 32px;
	font-weight: bold;
}

.card-body {
	background-color: white;
	color: black;
	text-align: center;
}

.card button {
	text-align: left;
	padding: 0px !important;
	border: 0px !important;
	font-size: 32px;
}

.card button:hover .card-header h5 {
	color: #0056b3;
}