.card {
	border-color: #660066;
}

.card-header {
	background-color: #ffccff;
}

.card-header h5 {
	font-size: 2em;
	font-weight: bold;
}

.card-header img {
	max-height: 2em !important;
}

.card-body {
	color: black;
	text-align: left;
}

.card button {
	text-align: left;
	padding: 0px !important;
	border: 0px !important;
	font-size: 2em;
	white-space: normal;
}

.card li {
	font-size: 1.25em !important;
}

.card h2 {
	color: black;
}

.card img {
	max-height: 200px;
	max-width: 200px;
}